.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url(../../background.webp);
  background-position: center;
  background-size: cover;

}
.intro-text {
    width: 100%;
    text-align: center;
}
.title {
    font-size: 95px;
}
.subtitle {
  font-size: 25px;
  padding-top: 10px;
}
.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.landingButton {
  width: 180px;
  height: 55px;
}

@media only screen and (min-width:1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1040px) {
  .title {
    font-size: 60px;
  }
  .landingButton {
    width: 150px;
    height: 50px;
  }
}